:root {
  --fonts: 'Inter', sans-serif, system-ui, Helvetica, Arial;
  --radius: 5px;
}

body {
  margin: 15px;
  background-color: #2F2235;
  color: whitesmoke;
  font-family: var(--fonts);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  background-color: #3F3244;
}

.title {
  background-color: #A9ACA9;
  margin-left: 30px;
  margin-right: 40px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Tilt Neon';
}

.movieCard {
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 3px solid #60495A;
  border-radius: var(--radius);
}

.movieCard-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.info-grid {
  display: grid;
  grid-template-columns: 0.40fr 1fr;
  grid-template-rows: 0.40fr 1fr;
  grid-column-gap: 10px;
}

.movieCard-rating {
  grid-area: 1 / 1 / 2 / 2;
  width: 80px;
  height: 80px;
}

.movieCard-title {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 22px;
  font-family: var(--fonts);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.movieCard-info {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 16px;
  font-family: var(--fonts);
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.movieCard-info-text {
  margin: 0;
}

.movieCard-info-text-bold {
  font-weight: 800;
}

.block {
  display: flex;
  flex-direction: column;
}

.block-title {
  margin-left: 15px;
}

.block-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow: auto;
}